<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout::head">

    </head>

    <body class="bg-transparent p-2">
        <form th:action="@{/citas/form}" th:object="${cita}" method="POST" id="form" novalidate>
            <input type="hidden" th:field="*{id}">

            <div class="mb-3 d-flex" style="gap: .5rem;">
                <div class="w-100">
                    <label class="form-label" for="fecha">Fecha *</label>
                    <input class="form-control" th:errorclass="is-invalid" type="date" th:field="*{fecha}" id="fecha" autocomplete="off" required>
                    <div th:errors="*{fecha}" class="invalid-feedback" id="fecha"></div>
                </div>
                <div class="w-100">
                    <label class="form-label" for="hora">Hora *</label>
                    <input class="form-control" th:errorclass="is-invalid" type="time" th:field="*{hora}" id="hora" required>
                    <div th:errors="*{hora}" class="invalid-feedback" id="hora"></div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="pacienteSearch">Paciente *</label>
                <input th:if="${#fields.hasErrors('paciente')}" class="form-control is-invalid" type="text" id="pacienteSearch" placeholder="Buscar por nombre, apellido o número de tele" required>
                <input th:unless="${#fields.hasErrors('paciente')}" class="form-control" type="text" id="pacienteSearch" placeholder="Buscar por nombre, apellido o número de tele" required>
                <div th:errors="*{paciente}" class="invalid-feedback" id="pacienteSearch"></div>

                <input type="hidden" th:field="*{paciente}" id="paciente">
            </div>

            <div class="mb-3">
                <label class="form-label" for="doctor">Doctor *</label>
                <select th:field="*{doctor}" id="doctor" class="form-select" required>
                    <option th:value="${null}" th:disabled="${1}">-- Seleccionar doctor --</option>

                    <option
                        th:each="doctor: ${doctores}"
                        th:value="${doctor.id}"
                        th:text="${doctor.nombre + ' ' + doctor.apellido}"
                    >
                    </option>
                </select>
                <div th:errors="*{doctor}" class="invalid-feedback" id="doctor"></div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="observaciones">Observaciones</label>
                <textarea class="form-control" th:errorclass="is-invalid" th:field="*{observaciones}" id="observaciones" rows="3"></textarea>
                <div th:errors="*{observaciones}" class="invalid-feedback" id="observaciones"></div>
            </div>
        
            <button type="submit" class="btn btn-success w-100">Guardar</button>
        </form>

        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
        <script>
            // Verificar si debe cerrarse el modal (donde está el iframe)
            const urlParams = new URLSearchParams(window.location.search); // Obtenemos los parametros de la url
            if(urlParams.has("close")) // Verificamos si el parametro "close" esta presente
            {
                window.parent.postMessage("closeModal", "*"); // Enviar un mensaje a la ventana padre diciendo que debe cerrarse el modal
            }

            // Autocomplete
            $(document).ready(function()
            {
                $("input#pacienteSearch").autocomplete(
                {
                    source: function(req, res) // Función para obtener la lista de pacientes
                    {
                        $.ajax(
                        {
                            url: `/pacientes/findAll/${req.term}`, // Url donde hará la petición
                            data: {term: req.term},  // 'data' es el término que buscará el usuario (nombre, apellido, etc)
                            dataType: "json",
                            success: function(data) 
                            {
                                res($.map(data, function(item)
                                {
                                    return {
                                        label: `${item.nombre} ${item.apellido}`, // Lo que se mostrará en la lista
                                        value: item // La variable que enviará a "select" cuando se seleccione un item
                                    }
                                }));
                            }
                        });
                    },
                    select: function(event, ui) // Cuando el usuario selecciona un item
                    {
                        const paciente = ui.item.value;

                        event.preventDefault();
                        $("input#pacienteSearch").val(`${paciente.nombre} ${paciente.apellido}`);
                        $("input#paciente").val(paciente.id);
                    }
                });
            });
        </script>
    </body>
</html>