<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout::head">

    </head>

    <body>
        <div class="d-flex flex-column flex-lg-row">
            <header th:replace="layout::header">
                
            </header>
            
            <!-- Contenido -->
            <main class="container-fluid p-4">
                <h2 class="text-center text-lg-start">Citas</h2>

                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDateModal">
                    <i class="bi bi-calendar-plus"></i>
                    Agendar cita
                </button>

                <div class="my-4 p-4 bg-white border rounded-2 shadow-sm">
                    <p class="text-muted">Próximas citas programadas</p>

                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                        <div th:each="cita: ${citas}" class="col">
                            <div class="p-2 text-bg-white shadow border rounded-2">
                                <div class="d-flex justify-content-between">
                                    <div>

                                    </div>
                                    <h5 class="fw-bold text-center">
                                        <span th:if="${#dates.format(cita.fecha, 'dd/MM/yyyy') == #dates.format(todayDate, 'dd/MM/yyyy')}" class="text-success">Hoy</span>
                                        <span th:if="${#dates.format(cita.fecha, 'dd/MM/yyyy') == #dates.format(tomorrowDate, 'dd/MM/yyyy')}">Mañana</span>
                                        <span 
                                            th:unless="${#dates.format(cita.fecha, 'dd/MM/yyyy') == #dates.format(todayDate, 'dd/MM/yyyy') || #dates.format(cita.fecha, 'dd/MM/yyyy') == #dates.format(tomorrowDate, 'dd/MM/yyyy')}"
                                            th:text="${#dates.format(cita.fecha, 'dd/MM/yyyy')}"
                                            class="text-secondary"
                                            >
                                        </span>
                                    </h5>

                                    <h5 class="fw-bold">
                                        <span th:text="${#dates.format(cita.hora, 'HH:mm')}"></span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="addDateModal" tabindex="-1" aria-labelledby="addDateLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="addDateLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                <iframe 
                                    th:src="@{/citas/nueva}"
                                    title="Agendar cita"
                                    width="100%"
                                    id="mi-iframe"
                                    >
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <!-- Footer & scripts -->
        <footer th:replace="layout::footer"></footer>

        <script>
            // Escuchar cuando el iframe envie un postMessage para cerrar el modal y recargar la página
            window.addEventListener("message", event => 
            {
                if(event.data === "closeModal")
                {
                    window.location.reload(); // Recargar la página
                }
            });

            // Script para que el iframe tenga la misma altura que el contenido de la vista que renderiza
            $('#addDateModal').on('shown.bs.modal', function () // Se llama cuando se abre el modal
            {
                const frame = document.querySelector("#mi-iframe"); // Seleccionamos el iframe
                const height = frame.contentWindow.document.body.scrollHeight; // Obtenemos la altura total que renderiza el iframe
                frame.style.height = height + 'px'; // Cambiamos la altura del iframe
            })
        </script>
    </body>
</html>
