<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout::head">

    </head>

    <body>
        <div class="d-flex flex-column flex-lg-row">
            <header th:replace="layout::header">
                
            </header>
            
            <!-- Contenido -->
            <main class="container-fluid p-4">
                <h2 class="text-center text-lg-start">Citas</h2>

                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#entityModal" onclick="onNewEntity('Cita')">
                    <i class="bi bi-plus-circle"></i>
                    Agendar cita
                </button>

                <div class="my-4 p-4 bg-white border rounded-2 shadow-sm">
                    <p class="text-muted">Próximas citas programadas</p>

                    <div class="row row-cols-1 row-cols-xl-2 row-cols-xxl-3 g-4">
                        <div th:each="entity: ${citas}" class="col">
                            <div class="p-4 shadow border">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <!-- <h5 th:if="${#dates.format(entity.fecha, 'dd/MM/yyyy') == #dates.format(todayDate, 'dd/MM/yyyy')}">
                                            Hoy
                                        </h5>
                                        <h5 th:if="${#dates.format(entity.fecha, 'dd/MM/yyyy') == #dates.format(tomorrowDate, 'dd/MM/yyyy')}">
                                            Mañana
                                        </h5>
                                        <h5 th:unless="${#dates.format(entity.fecha, 'dd/MM/yyyy') == #dates.format(todayDate, 'dd/MM/yyyy') || #dates.format(entity.fecha, 'dd/MM/yyyy') == #dates.format(tomorrowDate, 'dd/MM/yyyy')}">
                                            <span th:text="${#strings.capitalize(#dates.format(entity.fecha, 'EEEE'))}"></span>,
                                            <span th:text="${#dates.format(entity.fecha, 'dd')}"></span> de
                                            <span th:text="${#strings.capitalize(#dates.format(entity.fecha, 'MMMM'))}"></span>
                                        </h5> -->

                                        <h4 th:text="${#dates.format(entity.hora, 'HH:mm')}" class="mb-0"></h4>
                                        
                                        <p class="mb-0">
                                            <i class="fs-5 text-primary bi bi-person"></i>
                                            <span th:text="${entity.paciente.nombre + ' ' + entity.paciente.apellido}"></span>
                                        </p>

                                        <p class="mb-0">
                                            <i class="bi fs-5 text-success bi-clipboard-check"></i>
                                            <span th:text="${entity.doctor.nombre + ' ' + entity.doctor.apellido}"></span>
                                        </h6>
                                    </div>

                                    <div class="text-nowrap">
                                        <button type="button" class="btn btn-outline-dark" th:entity-id="${entity.id}" data-bs-toggle="modal" data-bs-target="#entityModal" onclick="onEditEntity(event, '/citas/get', 'Cita')">
                                            <i class="bi bi-pencil-square" style="pointer-events: none;"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger" th:entity-id="${entity.id}" id="deleteEntityBtn" entity-text="Eliminar cita" onclick="onDeleteEntity(event, '/citas/delete', 'Cita')">
                                            <i class="bi bi-trash" style="pointer-events: none;"></i>
                                        </button>
                                    </div>
                                </div>

                                

                                <!-- <div class="d-flex justify-content-between">
                                    <div class="w-100">
                                        <h5 class="fw-bold">
                                            <span th:if="${#dates.format(entity.fecha, 'dd/MM/yyyy') == #dates.format(todayDate, 'dd/MM/yyyy')}" class="text-success">Hoy</span>
                                            <span th:if="${#dates.format(entity.fecha, 'dd/MM/yyyy') == #dates.format(tomorrowDate, 'dd/MM/yyyy')}">Mañana</span>
                                            <span 
                                                th:unless="${#dates.format(entity.fecha, 'dd/MM/yyyy') == #dates.format(todayDate, 'dd/MM/yyyy') || #dates.format(entity.fecha, 'dd/MM/yyyy') == #dates.format(tomorrowDate, 'dd/MM/yyyy')}"
                                                th:text="${#dates.format(entity.fecha, 'dd/MM/yyyy')}"
                                                class="text-secondary"
                                                >
                                            </span>
                                        </h5>
                                    </div>

                                    <div class="w-100">
                                        <h5 class="fw-bold">
                                            <span th:text="${#dates.format(entity.hora, 'HH:mm')}"></span>
                                        </h5>
                                    </div>

                                    <div class="text-nowrap">
                                        <button type="button" class="btn btn-outline-dark btn-sm" th:entity-id="${entity.id}" data-bs-toggle="modal" data-bs-target="#entityModal" onclick="onEditEntity(event, '/citas/get', 'Cita')">
                                            <i class="bi bi-pencil-square" style="pointer-events: none;"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-sm" th:entity-id="${entity.id}" id="deleteEntityBtn" entity-text="Eliminar cita" onclick="onDeleteEntity(event, '/citas/delete', 'Cita')">
                                            <i class="bi bi-trash" style="pointer-events: none;"></i>
                                        </button>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>


                <!-- <div class="my-4 p-4 bg-white border rounded-2 shadow-sm">
                    <p class="text-muted">Lista de citas</p>

                    <table class="table table-bordered table-striped table-hover">
                        <thead class="text-bg-success bg-gradient">
                            <tr>
                                <th>Fecha y hora</th>
                                <th>Paciente</th>
                                <th>Doctor</th>
                                <th>Observaciones</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="entity: ${citas}">
                                <td th:text="${entity.fecha + ' ' + entity.hora}"></td>
                                <td th:text="${entity.paciente.nombre + ' ' + entity.paciente.apellido}"></td>
                                <td th:text="${entity.doctor.nombre + ' ' + entity.doctor.apellido}"></td>
                                <td th:text="${entity.observaciones}"></td>
                                <td class="text-nowrap">
                                    <button type="button" class="btn btn-outline-dark" th:entity-id="${entity.id}" data-bs-toggle="modal" data-bs-target="#entityModal" onclick="onEditEntity(event, '/citas/get', 'Cita')">
                                        <i class="bi bi-pencil-square" style="pointer-events: none;"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger" th:entity-id="${entity.id}" id="deleteEntityBtn" entity-text="Eliminar cita" onclick="onDeleteEntity(event, '/citas/delete', 'Cita')">
                                        <i class="bi bi-trash" style="pointer-events: none;"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->

                <!-- Modal -->
                <div class="modal fade" id="entityModal" tabindex="-1" aria-labelledby="entityLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="entityLabel">Citas</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body ui-front">
                                <form method="POST" id="entityForm" onsubmit="onFormSubmit(event, '/citas/form', 'Cita')">
                                    <input type="hidden" name="id">
                        
                                    <div class="mb-3 d-flex" style="gap: .5rem;">
                                        <div class="w-100">
                                            <label class="form-label" for="fecha">Fecha *</label>
                                            <input class="form-control" type="date" name="fecha" id="fecha" required>
                                            <div class="invalid-feedback" id="error-fecha"></div>
                                        </div>
                                        <div class="w-100">
                                            <label class="form-label" for="hora">Hora *</label>
                                            <input class="form-control" type="time" name="hora" id="hora" required>
                                            <div class="invalid-feedback" id="error-hora"></div>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="pacienteNombre">Paciente *</label>
                                        <input class="form-control" type="text" name="pacienteNombre" id="pacienteNombre" required>
                                        <div class="invalid-feedback" id="error-paciente"></div>
                                        
                                        <input type="hidden" name="paciente" id="paciente">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="doctor">Doctor *</label>
                                        <select name="doctor" id="doctor" class="form-select" required>
                                            <option value="" disabled selected>-- Seleccionar doctor --</option>
                        
                                            <option
                                                th:each="doctor: ${doctores}"
                                                th:value="${doctor.id}"
                                                th:text="${doctor.nombre + ' ' + doctor.apellido}"
                                            >
                                            </option>
                                        </select>
                                        <div class="invalid-feedback" id="error-doctor"></div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="observaciones">Observaciones</label>
                                        <input class="form-control" type="text" name="observaciones" id="observaciones">
                                        <div class="invalid-feedback" id="error-observaciones"></div>
                                    </div>
                                
                                    <button type="submit" class="btn btn-primary w-100">Agendar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- /modal -->
            </main>
        </div>

        <!-- Footer & scripts -->
        <footer th:replace="layout::footer"></footer>
        <script th:src="@{/js/entityForm.js}"></script>

        <!-- Autcomplete -->
        <script>
            // Autocomplete
            $(document).ready(function()
            {
                $("input#pacienteNombre").autocomplete(
                {
                    source: function(req, res) // Función para obtener la lista de pacientes
                    {
                        $.ajax(
                        {
                            url: `/pacientes/findAll/${req.term}`, // Url donde hará la petición
                            data: {term: req.term},  // 'data' es el término que buscará el usuario (nombre, apellido, etc)
                            dataType: "json",
                            success: function(data) 
                            {
                                res($.map(data, function(item)
                                {
                                    return {
                                        label: `${item.nombre} ${item.apellido}`, // Lo que se mostrará en la lista
                                        value: item // La variable que enviará a "select" cuando se seleccione un item
                                    }
                                }));
                            }
                        });
                    },
                    select: function(event, ui) // Cuando el usuario selecciona un item
                    {
                        const paciente = ui.item.value;

                        event.preventDefault(); // Evita que autocomplete rellene el input
                        $("input#pacienteNombre").val(`${paciente.nombre} ${paciente.apellido}`); // Cambiamos el texto del input
                        $("input#paciente").val(paciente.id); // Asignamos la id del paciente seleccionado
                    }
                });
            });
        </script>
    </body>
</html>