<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout::head">

    </head>

    <body>
        <div class="d-flex flex-row gap-2">
            <header th:replace="layout::header">

            </header>

            <main class="container-fluid p-4">
                <h2 class="text-center text-muted text-lg-start">Doctores</h2>

                <button type="button" class="btn btn-primary fw-semibold" data-bs-toggle="modal" data-bs-target="#doctorModal" onclick="onNewEntity('Añadir doctor')">
                    <i class="fa-solid fa-notes-medical"></i>
                    Añadir doctor
                </button>

                <div class="my-4 p-4 bg-white border rounded-2 shadow-sm">
                    <div th:if="${doctores.size() == 0}" class="text-center">
                        <p class="text-muted">Aún no hay doctores creados</p>

                        <button type="button" class="btn btn-primary fw-semibold" data-bs-toggle="modal" data-bs-target="#doctorModal" onclick="onNewEntity('Añadir doctor')">
                            <i class="fa-solid fa-notes-medical"></i>
                            Añadir doctor
                        </button>
                    </div>

                    <table th:unless="${doctores.size() == 0}" class="table table-bordered table-striped table-hover caption-top">
                        <caption>Lista de doctores</caption>

                        <thead class="text-bg-success bg-gradient">
                            <tr>
                                <th>Nombre completo</th>
                                <th>Teléfono</th>
                                <th>Dirección</th>
                                <th>Especialidad</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="entity: ${doctores}">
                                <td th:text="${entity.nombre + ' ' + entity.apellido}"></td>
                                <td th:text="${entity.telefono}"></td>
                                <td th:text="${entity.direccion}"></td>
                                <td th:text="${entity.especialidad}"></td>
                                <td class="text-nowrap">
                                    <button type="button" class="btn btn-outline-dark" th:entity-id="${entity.id}" data-bs-toggle="modal" data-bs-target="#doctorModal" onclick="onEditEntity('/doctores/get', 'Editar doctor')">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger" th:entity-id="${entity.id}" id="deleteEntityBtn" th:entity-text="${entity.nombre + ' ' + entity.apellido}" onclick="onDeleteEntity('/doctores/delete', 'Doctor')">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="doctorModal" tabindex="-1" aria-labelledby="doctorLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="doctorLabel">Doctores</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                <form method="POST" onsubmit="onFormSubmit('/doctores/form', 'Doctor')">
                                    <div class="mb-3 d-flex" style="gap: .5rem;">
                                        <div class="w-100">
                                            <label class="form-label" for="nombre">Nombre *</label>
                                            <input class="form-control" type="text" name="nombre" id="nombre" required>
                                            <div class="invalid-feedback" id="error-nombre"></div>
                                        </div>
                                        <div class="w-100">
                                            <label class="form-label" for="apellido">Apellido *</label>
                                            <input class="form-control" type="text" name="apellido" id="apellido" required>
                                            <div class="invalid-feedback" id="error-apellido"></div>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="telefono">Teléfono *</label>
                                        <input class="form-control" type="tel" name="telefono" id="telefono" required>
                                        <div class="form-text">Incluya solo el área y número (ej: <span class="fw-medium">3644778899</span>)</div>
                                        <div class="invalid-feedback" id="error-telefono"></div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="direccion">Dirección *</label>
                                        <input class="form-control" type="text" name="direccion" id="direccion">
                                        <div class="invalid-feedback" id="error-direccion"></div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="especialidad">Especialidad *</label>
                                        <input class="form-control" type="text" name="especialidad" id="especialidad" required placeholder="Odontólogo, ortodoncista, etc...">
                                        <div class="invalid-feedback" id="error-especialidad"></div>
                                    </div>
                                
                                    <button type="submit" class="btn btn-primary w-100">Guardar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- /modal -->
            </main>
        </div>

        <!-- Footer & scripts -->
        <footer th:replace="layout::footer"></footer>
        <script th:src="@{/js/entityForm.js}"></script>
    </body>
</html>