<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout::head">

    </head>

    <body>
        <div class="d-flex flex-row gap-2">
            <header th:replace="layout::header">

            </header>

            <main class="container-fluid p-4">
                <h1 class="mb-5 text-center" th:text="${clinica.nombre}"></h1>

                <div class="row row-cols-1 row-cols-lg-2 g-4">
                    <div class="col-12 col-lg-6 col-xl-7">
                        <h2>Turnos de hoy</h2>

                        <div class="p-4 bg-white rounded-2 shadow">
                            <!-- Sin turnos -->
                            <div th:if="${turnosToday.size() == 0}" class="text-center">
                                <p class="text-muted">No hay turnos programados para hoy</p>

                                <a th:href="@{/turnos/}" class="btn btn-primary">
                                    <i class="fa-regular fa-calendar-plus"></i>
                                    Agendar turno
                                </a>
                            </div>

                            <!-- Con turnos -->
                            <div th:unless="${turnosToday.size() == 0}">
                                <p class="text-muted"> 
                                    <span th:text="${#strings.capitalize(#temporals.format(todayDate, 'EEEE'))}"></span>,
                                    <span th:text="${#temporals.format(todayDate, 'dd')}"></span> de
                                    <span th:text="${#temporals.format(todayDate, 'MMMM')}"></span>
                                </p>
                            
                                <div th:each="entity, iter: ${turnosToday}" th:class="${iter.index != 0 ? 'mt-4 pt-4 border-top' : ''}">
                                    <div class="d-flex justify-content-between gap-2">
                                        <div>
                                            <a th:href="@{/turnos/{id} (id = ${entity.id})}" class="text-decoration-none" title="Ver información del turno">
                                                <h4 th:text="${#temporals.format(entity.hora, 'HH:mm')}" class="mb-0 text-dark"></h4>
                                            </a>
                                            
                                            <p class="mb-0">
                                                <i class="fa-solid fa-image-portrait text-primary" style="width: 16px; text-align: center;"></i>
                                                <span th:text="${entity.paciente.nombre + ' ' + entity.paciente.apellido}"></span>
                                            </p>
    
                                            <p class="mb-0">
                                                <i class="fa-solid fa-user-nurse text-success" style="width: 16px; text-align: center;"></i>
                                                <span th:text="${entity.doctor.nombre + ' ' + entity.doctor.apellido}"></span>
                                            </p>

                                            <p class="mb-0" th:if="${entity.tratamiento != null}">
                                                <i class="fa-solid fa-rectangle-list text-muted" style="width: 16px; text-align: center;"></i>
                                                <span th:text="${entity.tratamiento.nombre}"></span>
                                            </p>

                                            <p class="mb-0" th:if="${!#strings.isEmpty(entity.observaciones)}">
                                                <i class="fa-regular fa-comment-dots" style="width: 16px; text-align: center;"></i>
                                                <span th:text="${entity.observaciones}"></span>
                                            </p>
                                        </div>

                                        <div class="d-flex align-items-start gap-3">
                                            <a th:if="${entity.pago}" th:href="@{/pagos/{id} (id = ${entity.pago.id})}" class="text-decoration-none">
                                                <i class="fa-solid fa-circle-dollar-to-slot fa-2xl text-muted" title="Ver pago"></i>
                                            </a>

                                            <a th:href="|https://wa.me/54${entity.paciente.telefono}|" class="text-decoration-none" target="_blank" title="Enviar mensaje">
                                                <i class="fa-brands fa-whatsapp fa-2xl text-success"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-12 col-lg-6 col-xl-5">
                        <h2>Turnos para mañana</h2>

                        <div class="p-4 bg-white rounded-2 shadow">
                            <!-- Sin turnos -->
                            <div th:if="${turnosTomorrow.size() == 0}" class="text-center">
                                <p class="text-muted">No hay turnos programados para mañana</p>

                                <a th:href="@{/turnos/}" class="btn btn-primary">
                                    <i class="fa-regular fa-calendar-plus"></i>
                                    Agendar turno
                                </a>
                            </div>

                            <!-- Con turnos -->
                            <div th:unless="${turnosTomorrow.size() == 0}">
                                <p class="text-muted"> 
                                    <span th:text="${#strings.capitalize(#temporals.format(tomorrowDate, 'EEEE'))}"></span>,
                                    <span th:text="${#temporals.format(tomorrowDate, 'dd')}"></span> de
                                    <span th:text="${#temporals.format(tomorrowDate, 'MMMM')}"></span>
                                </p>
                            
                                <div th:each="entity, iter: ${turnosTomorrow}" th:class="${iter.index != 0 ? 'mt-4 pt-4 border-top' : ''}">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <a th:href="@{/turnos/{id} (id = ${entity.id})}" class="text-decoration-none" title="Ver información del turno">
                                                <h4 th:text="${#temporals.format(entity.hora, 'HH:mm')}" class="mb-0 text-dark"></h4>
                                            </a>
                                            
                                            <p class="mb-0">
                                                <i class="fa-solid fa-image-portrait text-primary" style="width: 16px; text-align: center;"></i>
                                                <span th:text="${entity.paciente.nombre + ' ' + entity.paciente.apellido}"></span>
                                            </p>
    
                                            <p class="mb-0">
                                                <i class="fa-solid fa-user-nurse text-success" style="width: 16px; text-align: center;"></i>
                                                <span th:text="${entity.doctor.nombre + ' ' + entity.doctor.apellido}"></span>
                                            </p>

                                            <p class="mb-0" th:if="${entity.tratamiento != null}">
                                                <i class="fa-solid fa-rectangle-list text-muted" style="width: 16px; text-align: center;"></i>
                                                <span th:text="${entity.tratamiento.nombre}"></span>
                                            </p>

                                            <p class="mb-0" th:if="${!#strings.isEmpty(entity.observaciones)}">
                                                <i class="fa-regular fa-comment-dots" style="width: 16px; text-align: center;"></i>
                                                <span th:text="${entity.observaciones}"></span>
                                            </p>
                                        </div>

                                        <div>
                                            <a th:href="|https://wa.me/54${entity.paciente.telefono}|" class="text-decoration-none" target="_blank" title="Enviar mensaje">
                                                <i class="fa-brands fa-whatsapp fa-2xl text-success"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <!-- Footer & scripts -->
        <footer th:replace="layout::footer"></footer>
        <script th:src="@{/js/entityForm.js}"></script>
        <script th:src="@{/js/home.js}"></script>
    </body>
</html>
