<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout::head">

    </head>

    <body>
        <div class="d-flex flex-row gap-2">
            <header th:replace="layout::header">

            </header>

            <main class="container-fluid p-4">
                <h2 class="text-center text-muted text-lg-start">Pacientes</h2>

                <button type="button" class="btn btn-primary fw-semibold" data-bs-toggle="modal" data-bs-target="#entityModal" onclick="onNewEntity('Añadir paciente')">
                    <i class="fa-solid fa-user-plus"></i>
                    Añadir paciente
                </button>

                <div class="my-4 p-4 bg-white rounded-2 shadow">
                    <table class="table table-bordered table-striped table-hover caption-top">
                        <caption>
                            <div class="d-flex justify-content-between gap-2">
                                <span>Lista de pacientes</span>

                                <div class="d-flex align-items-center gap-2">
                                    <form th:action="@{/pacientes/buscar}">
                                        <div class="input-group">
                                            <input class="form-control" type="text" name="buscarPaciente" id="buscarPaciente" placeholder="Buscar" autocomplete="off">
                                            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-search"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </caption>

                        <thead class="text-bg-success bg-gradient">
                            <tr>
                                <th>Nombre completo</th>
                                <th>Teléfono</th>
                                <th>Dirección</th>
                                <th>Historial médico</th>
                                <th>Alergias</th>
                                <th>Fecha de nacimiento (edad)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="entity: ${pacientes}" class="clickable-row cursor-pointer" th:data-href="@{/pacientes/{id} (id = ${entity.id})}" title="Ver perfil">
                                <td>
                                    <span class="text-uppercase" th:text="${entity.apellido}"></span>,
                                    <span th:text="${entity.nombre}"></span>
                                </td>
                                <td th:text="${entity.telefono}"></td>
                                <td th:text="${entity.direccion}"></td>
                                <td th:text="${entity.historialMedico}"></td>
                                <td th:text="${entity.alergias}"></td>
                                <td>
                                    <span th:text="${#temporals.format(entity.fechaNacimiento, 'dd/MM/yyyy')}"></span>
                                    (<span th:text="${T(java.time.Period).between(T(java.time.LocalDate).parse(entity.fechaNacimiento.toString()), T(java.time.LocalDate).now()).getYears()}"></span>)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="entityModal" tabindex="-1" aria-labelledby="entityLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="entityLabel">Pacientes</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                <form method="POST" id="entityForm" onsubmit="onFormSubmit('/pacientes/form', 'Paciente')">
                                    <input type="hidden" name="id">
                                    <input type="hidden" name="createdAt">
                        
                                    <div class="mb-3 d-flex" style="gap: .5rem;">
                                        <div class="w-100">
                                            <label class="form-label" for="nombre">Nombre *</label>
                                            <input class="form-control" type="text" name="nombre" id="nombre" required>
                                            <div class="invalid-feedback" id="error-nombre"></div>
                                        </div>
                                        <div class="w-100">
                                            <label class="form-label" for="apellido">Apellido *</label>
                                            <input class="form-control" type="text" name="apellido" id="apellido" required>
                                            <div class="invalid-feedback" id="error-apellido"></div>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="telefono">Teléfono *</label>
                                        <input class="form-control" type="tel" name="telefono" id="telefono" required>
                                        <div class="invalid-feedback" id="error-telefono"></div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="direccion">Dirección</label>
                                        <input class="form-control" type="text" name="direccion" id="direccion">
                                        <div class="invalid-feedback" id="error-direccion"></div>
                                    </div>

                                    <div class="mb-3">
                                        <div>
                                            <label class="form-label" for="historialMedico">Historial médico</label>

                                            <i 
                                                class="bi bi-question-circle"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="right"
                                                title="Incluya todo el historial médico relevante sobre el paciente">
                                            </i>
                                        </div>
                                        <input class="form-control" type="text" name="historialMedico" id="historialMedico">
                                        <div class="invalid-feedback" id="error-historialMedico"></div>
                                    </div>

                                    <div class="mb-3">
                                        <div>
                                            <label class="form-label" for="alergias">Alergias</label>

                                            <i 
                                                class="bi bi-question-circle"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="right"
                                                title="Lista de las alergias del paciente, si amerita">
                                            </i>
                                        </div>
                                        <input class="form-control" type="text" name="alergias" id="alergias" placeholder="Alergia al polen, látex, etc...">
                                        <div class="invalid-feedback" id="error-alergias"></div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="fechaNacimiento">Fecha de nacimiento *</label>
                                        <input class="form-control" type="date" name="fechaNacimiento" id="fechaNacimiento" required>
                                        <div class="invalid-feedback" id="error-fechaNacimiento"></div>
                                    </div>
                                
                                    <button type="submit" class="btn btn-primary w-100">Guardar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- /modal -->
            </main>
        </div>

        <!-- Footer & scripts -->
        <footer th:replace="layout::footer"></footer>
        <script th:src="@{/js/entityForm.js}"></script>
        <script th:src="@{/js/pacientes.js}"></script>
    </body>
</html>