<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout::head">

    </head>

    <body>
        <div class="d-flex flex-row gap-2">
            <header th:replace="layout::header">

            </header>

            <main class="container-fluid p-4">
                <h2 class="text-center text-muted text-lg-start">Pagos</h2>

                <button type="button" class="btn btn-primary fw-semibold" data-bs-toggle="modal" data-bs-target="#pagoModal" onclick="onNewEntity('Registrar pago')">
                    <i class="fa-solid fa-sack-dollar"></i>
                    Registrar pago
                </button>

                <div class="my-4 p-4 bg-white rounded-2 shadow">
                    <div th:if="${pagos.size() == 0}" class="text-center">
                        <p class="mb-0 text-muted">Aún no hay pagos registrados</p>
                        <p class="text-muted">Puedes registrar pagos luego de finalizar un turno, al pagar la cuota de un financiamiento,<br>o puedes registrar un pago aislado:</p>

                        <button type="button" class="btn btn-primary fw-semibold" data-bs-toggle="modal" data-bs-target="#pagoModal" onclick="onNewEntity('Registrar pago')">
                            <i class="fa-solid fa-sack-dollar"></i>
                            Registrar pago
                        </button>
                    </div>
                    <table th:unless="${pagos.size() == 0}" class="table table-bordered table-striped table-hover caption-top">
                        <caption>Pagos de los últimos 30 días</caption>

                        <thead class="text-bg-success bg-gradient">
                            <tr>
                                <th>Fecha</th>
                                <th>Emisor</th>
                                <th>Detalles</th>
                                <th>Método de pago</th>
                                <th class="text-end">Monto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="entity: ${pagos}" class="clickable-row cursor-pointer" th:data-href="@{/pagos/{id} (id = ${entity.id})}">
                                <td th:text="${#temporals.format(entity.fechaPago, 'dd/MM/yyyy')}"></td>
                                <td th:if="${entity.paciente}" th:text="${entity.paciente.nombre + ' ' + entity.paciente.apellido}"></td>
                                <td th:unless="${entity.paciente}">(No especificado)</td>
                                <td th:text="${entity.detalles}"></td>
                                <td th:text="${entity.metodoPago}"></td>
                                <td th:text="'$ ' + ${#numbers.formatDecimal(entity.monto, 0, 'POINT', 0, 'DEFAULT')}" class="fs-5 fw-medium text-end text-nowrap"></td>
                            </tr>
                        </tbody>
                        <tfoot class="text-bg-light">
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="fs-4 text-end text-nowrap">
                                    Total <strong th:text="'$ ' + ${#numbers.formatDecimal(#aggregates.sum(pagos.?[monto != null].![monto]), 0, 'POINT', 0, 'DEFAULT')}"></strong>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="pagoModal" tabindex="-1" aria-labelledby="pagoLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="pagoLabel">Pagos</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body ui-front">
                                <form method="POST" onsubmit="onFormSubmit('/pagos/form', 'Pago')">
                                    <input type="hidden" name="id">
                                    <input type="hidden" name="createdAt">
                        
                                    <div class="mb-3">
                                        <label class="form-label" for="monto">Monto *</label>
                                        <div class="input-group">
                                            <span class="input-group-text">$</span>
                                            <input class="form-control" type="number" name="monto" id="monto" min="0" placeholder="0" required>
                                        </div>
                                        <div class="invalid-feedback" id="error-monto"></div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="metodoPago">Método de pago *</label>
                                        <select name="metodoPago" id="metodoPago" class="form-select">
                                            <option value="Efectivo" selected>Efectivo</option>
                                            <option value="Tarjeta de crédito">Tarjeta de crédito</option>
                                            <option value="Tarjeta de débito">Tarjeta de débito</option>
                                            <option value="Cheque">Cheque</option>
                                            <option value="Otro">Otro</option>
                                        </select>
                                        <div class="invalid-feedback" id="error-metodoPago"></div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="pacienteNombre">Paciente (emisor del pago)</label>
                                        <input class="form-control" type="text" name="pacienteNombre" id="pacienteNombre">
                                        <div class="invalid-feedback" id="error-paciente"></div>
                                        
                                        <input type="hidden" name="paciente" id="paciente">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="fechaPago">Fecha y hora del pago *</label>
                                        <input class="form-control" type="datetime-local" name="fechaPago" id="fechaPago" th:value="${todayDateTime}" required>
                                        <div class="invalid-feedback" id="error-fechaPago"></div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="detalles">Detalles adicionales</label>
                                        <textarea class="form-control" name="detalles" id="detalles" rows="3" placeholder="Entidad bancaria, número de transacción, etc..."></textarea>
                                        <div class="invalid-feedback" id="error-detalles"></div>
                                    </div>

                                    <button type="submit" class="btn btn-primary w-100">Registrar pago</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- /modal -->
            </main>
        </div>

        <!-- Footer & scripts -->
        <footer th:replace="layout::footer"></footer>
        <script th:src="@{/js/entityForm.js}"></script>
        <script th:src="@{/js/pagos.js}"></script>
    </body>
</html>