<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout::head">

    </head>

    <body>
        <div class="d-flex flex-column flex-lg-row">
            <header th:replace="layout::header">
                
            </header>
            
            <!-- Contenido -->
            <main class="container-fluid p-4">
                <h2 class="text-center text-lg-start">Tratamientos</h2>

                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tratamientoModal" onclick="onNewEntity('Añadir tratamiento')">
                    <i class="bi bi-plus-circle"></i>
                    Añadir tratamiento
                </button>

                <div class="my-4 p-4 bg-white border rounded-2 shadow-sm">
                    <p class="text-muted">Lista de tratamientos</p>

                    <table class="table table-bordered table-striped table-hover">
                        <thead class="text-bg-success bg-gradient">
                            <tr>
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th>Precio</th>
                                <th>Último cambio de precio</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="entity: ${tratamientos}">
                                <td th:text="${entity.nombre}"></td>
                                <td>
                                    <span th:if="${entity.descripcion.isEmpty()}" class="text-muted">(Sin descripción)</span>
                                    <span th:unless="${entity.descripcion.isEmpty()}" th:text="${entity.descripcion}"></span>
                                </td>
                                <td class="text-nowrap" th:text="'$ ' + ${#numbers.formatDecimal(entity.precio, 0, 'POINT', 0, 'DEFAULT')}"></td>
                                <td th:text="${#temporals.format(entity.precioLastUpdate, 'dd/MM/yyyy')}"></td>
                                <td class="text-nowrap">
                                    <button type="button" class="btn btn-outline-dark" th:entity-id="${entity.id}" data-bs-toggle="modal" data-bs-target="#tratamientoModal" onclick="onEditEntity('/tratamientos/get', 'Editar tratamiento')">
                                        <i class="bi bi-pencil-square pointer-event-none"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger" th:entity-id="${entity.id}" id="deleteEntityBtn" th:entity-text="${entity.nombre}" onclick="onDeleteEntity('/tratamientos/delete', 'Tratamiento')">
                                        <i class="bi bi-trash pointer-event-none"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="tratamientoModal" tabindex="-1" aria-labelledby="tratamientoLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="tratamientoLabel">Tratamiento</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                <form method="POST" id="entityForm" onsubmit="onFormSubmit('/tratamientos/form', 'Tratamiento')">
                                    <input type="hidden" name="id">
                                    <input type="hidden" name="precioLastUpdate">
                                    <input type="hidden" name="createdAt">
                        
                                    <div class="mb-3">
                                        <label class="form-label" for="nombre">Nombre *</label>
                                        <input class="form-control" type="tel" name="nombre" id="nombre" required>
                                        <div class="invalid-feedback" id="error-nombre"></div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="precio">Precio *</label>
                                        <input class="form-control" type="number" name="precio" id="precio" min="0" required>
                                        <div class="invalid-feedback" id="error-precio"></div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="descripcion">Descripcion *</label>
                                        <textarea class="form-control" name="descripcion" id="descripcion" placeholder="Información detallada sobre el tratamiento, tales como la duración, opciones de financiamiento, etc..." rows="5"></textarea>
                                    </div>
                                
                                    <button type="submit" class="btn btn-primary w-100">Guardar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- /modal -->
            </main>
        </div>

        <!-- Footer & scripts -->
        <footer th:replace="layout::footer"></footer>
        <script th:src="@{/js/entityForm.js}"></script>
    </body>
</html>