<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout::head">

    </head>

    <body>
        <div class="d-flex flex-row">
            <header th:replace="layout::header">

            </header>

            <main class="container-fluid p-4">
                <h2 class="mb-4 text-center text-muted text-lg-start">Información del turno</h2>

                <div class="row row-cols-1 row-cols-lg-2">
                    <div class="col col-lg-9">
                        <div class="mb-4 bg-white rounded-2 shadow">
                            <div class="p-4 d-flex align-items-center justify-content-between gap-2 border-bottom">
                                <h3 class="mb-0">Datos generales</h3>

                                <div class="text-nowrap">
                                    <button type="button" class="btn btn-sm btn-primary" id="printBtn" th:print-src="@{/turnos/print/{id} (id = ${turno.id})}">
                                        <i class="fa-solid fa-print"></i>
                                        Imprimir
                                    </button>
                                    <button type="button" class="btn btn-sm btn-warning" th:entity-id="${turno.id}" data-bs-toggle="modal" data-bs-target="#turnoModal" onclick="onEditEntity('/turnos/get', 'Editar turno')">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger" th:entity-id="${turno.id}" id="deleteEntityBtn" entity-text="Eliminar turno" onclick="onDeleteEntity('/turnos/delete', 'Turno')">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="px-4 pt-3 pb-1">
                                <table class="table table-borderless">
                                    <thead class="d-none">
                                        <tr>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="pb-3 text-muted">Fecha programada</td>
                                            <td class="fw-medium">
                                                <span> 
                                                    <span th:text="${#strings.capitalize(#temporals.format(turno.fecha, 'EEEE'))}"></span>,
                                                    <span th:text="${#temporals.format(turno.fecha, 'dd')}"></span> de
                                                    <span th:text="${#temporals.format(turno.fecha, 'MMMM')}"></span> del
                                                    <span th:text="${#temporals.format(turno.fecha, 'yyyy')}"></span>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="pb-3 text-muted">Hora</td>
                                            <td class="fw-medium" th:text="${#temporals.format(turno.hora, 'HH:mm')}"></td>
                                        </tr>
                                        <tr>
                                            <td class="pb-3 text-muted">Paciente</td>
                                            <td class="fw-medium">
                                                <a th:href="@{/pacientes/{id} (id = ${turno.paciente.id})}" th:text="${turno.paciente.nombre + ' ' + turno.paciente.apellido}"></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="pb-3 text-muted">Doctor</td>
                                            <td class="fw-medium" th:text="${turno.doctor.nombre + ' ' + turno.doctor.apellido}"></td>
                                        </tr>
                                        <tr>
                                            <td class="pb-3 text-muted">Tratamiento</td>
                                            <td class="fw-medium" th:text="${turno.tratamiento.nombre}"></td>
                                        </tr>
                                        <tr>
                                            <td class="pb-3 text-muted">Observaciones</td>
                                            <td class="fw-medium">
                                                <span th:if="${#strings.isEmpty(turno.observaciones)}" class="text-muted">(Sin observaciones)</span>
                                                <span th:unless="${#strings.isEmpty(turno.observaciones)}" th:text="${turno.observaciones}"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="pb-3 text-muted">Fecha de creación</td>
                                            <td class="fw-medium">
                                                <span th:text="${#temporals.format(turno.createdAt, 'dd/MM/yyyy')}"></span>
                                                a las
                                                <span th:text="${#temporals.format(turno.createdAt, 'HH:mm')}"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col col-lg-3">
                        <div class="d-flex flex-lg-column justify-content-between gap-4">
                            <div class="w-100 p-4 bg-white rounded-2 shadow text-center" th:with="daysDiff = ${T(java.time.temporal.ChronoUnit).DAYS.between(todayDate, turno.fecha)}">
                                <h2>
                                    <i th:if="${daysDiff < 0}" class="fa-solid fa-clock-rotate-left text-secondary"></i>
                                    <i th:unless="${daysDiff < 0}" class="fa-solid fa-hourglass-start text-primary"></i>
                                </h2>

                                <p th:if="${daysDiff < -1}" class="mb-0 fw-semibold text-muted">El turno fue hace <span th:text="${-daysDiff}"></span> días</p>
                                <p th:if="${daysDiff == -1}" class="mb-0 fw-semibold text-muted">El turno fue ayer</p>
                                <p th:if="${daysDiff == 0}" class="mb-0 fw-semibold text-muted">El turno es HOY</p>
                                <p th:if="${daysDiff == 1}" class="mb-0 fw-semibold text-muted">El turno es mañana</p>
                                <p th:if="${daysDiff > 1}" class="mb-0 fw-semibold text-muted">El turno es dentro de <span th:text="${daysDiff}"></span> días</p>
                            </div>

                            <div class="w-100 p-4 bg-white rounded-2 shadow text-center" >
                                <div th:if="${turno.completado == true}">
                                    <h2><i class="fa-solid fa-clipboard-check text-primary"></i></h2>

                                    <p class="mb-0 fw-semibold text-muted">Turno completado</p>
                                </div>

                                <div th:unless="${turno.completado == true}">
                                    <h2><i class="fa-solid fa-circle-question text-secondary"></i></h2>

                                    <p class="mb-0 fw-semibold text-muted">Turno sin completar</p>
                                </div>
                            </div>

                            <div class="w-100 p-4 bg-white rounded-2 shadow text-center">
                                <div th:if="${turno.pago == null}">
                                    <h2><i class="fa-solid fa-circle-question text-secondary"></i></h2>

                                    <p class="fw-semibold text-muted">Pago sin registrar</p>

                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#pagoModal" onclick="onNewEntity('Registrar pago de turno')">
                                        <i class="fa-solid fa-sack-dollar"></i>
                                        Registrar pago
                                    </button>
                                </div>

                                <div th:unless="${turno.pago == null}">
                                    <h2><i class="fa-solid fa-sack-dollar text-primary"></i></h2>

                                    <p class="fw-semibold text-muted">Pago registrado</p>

                                    <a th:href="@{/pagos/{id} (id = ${turno.pago.id})}" class="btn btn-primary">Ver pago</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Modal de entidad -->
                <div class="modal fade" id="turnoModal" tabindex="-1" aria-labelledby="turnoLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="turnoLabel">Turno</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body ui-front">
                                <form method="POST" id="entityForm" onsubmit="onFormSubmit('/turnos/form', 'Turno')">
                                    <div class="mb-3 d-flex gap-2">
                                        <div class="w-100">
                                            <label class="form-label" for="fecha">Fecha *</label>
                                            <input class="form-control" type="date" name="fecha" id="fecha" required>
                                            <div class="invalid-feedback" id="error-fecha"></div>
                                        </div>
                                        <div class="w-100">
                                            <label class="form-label" for="hora">Hora *</label>
                                            <input class="form-control" type="time" name="hora" id="hora" required>
                                            <div class="invalid-feedback" id="error-hora"></div>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Paciente (nombre y apellido)</label>

                                        <div class="d-flex gap-2">
                                            <input class="form-control" type="text" id="paciente_nombre" disabled>
                                            <input class="form-control" type="text" id="paciente_apellido" disabled>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="doctor">Doctor *</label>
                                        <select name="doctor" id="doctor" class="form-select" required>
                                            <option value="" disabled selected>-- Seleccionar doctor --</option>
                        
                                            <option
                                                th:each="doctor: ${doctores}"
                                                th:value="${doctor.id}"
                                                th:text="${doctor.nombre + ' ' + doctor.apellido}"
                                            >
                                            </option>
                                        </select>
                                        <div class="invalid-feedback" id="error-doctor"></div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="tratamiento">Tratamiento</label>
                                        <select name="tratamiento" id="tratamiento" class="form-select">
                                            <option value="0" selected>-- Seleccionar tratamiento --</option>
                        
                                            <option
                                                th:each="tratamiento: ${tratamientos}"
                                                th:value="${tratamiento.id}"
                                                th:text="${tratamiento.nombre}"
                                            >
                                            </option>
                                        </select>
                                        <div class="invalid-feedback" id="error-tratamiento"></div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="observaciones">Observaciones</label>
                                        <textarea class="form-control" name="observaciones" id="observaciones" rows="3" placeholder="Información adicional sobre esta cita"></textarea>
                                        <div class="invalid-feedback" id="error-observaciones"></div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Estado del turno</label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="completado" id="completado">
                                            <label class="form-check-label" for="completado">Completado</label>
                                        </div>
                                        <div class="invalid-feedback" id="error-completado"></div>
                                    </div>
                                
                                    <button type="submit" class="btn btn-primary w-100">Guardar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- /modal -->


                <!-- Modal de pago -->
                <div class="modal fade" id="pagoModal" tabindex="-1" aria-labelledby="pagoLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="pagoLabel">Pagos</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body ui-front">
                                <form method="POST" id="entityForm" onsubmit="onFormSubmit('/pagos/form', 'Pago')">
                                    <input type="number" class="d-none" name="turno" th:value="${turno.id}">
                                    <input type="number" class="d-none" name="paciente" th:value="${turno.paciente.id}">

                                    <div class="mb-3">
                                        <label class="form-label" for="monto">Monto *</label>
                                        <div class="input-group">
                                            <span class="input-group-text">$</span>
                                            <input class="form-control" type="number" name="monto" id="monto" th:value="${turno.tratamiento.precio}" min="0" placeholder="0" required>
                                        </div>
                                        <div class="invalid-feedback" id="error-monto"></div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="metodoPago">Método de pago *</label>
                                        <select name="metodoPago" id="metodoPago" class="form-select">
                                            <option value="Efectivo" selected>Efectivo</option>
                                            <option value="Tarjeta de crédito">Tarjeta de crédito</option>
                                            <option value="Tarjeta de débito">Tarjeta de débito</option>
                                            <option value="Cheque">Cheque</option>
                                            <option value="Otro">Otro</option>
                                        </select>
                                        <div class="invalid-feedback" id="error-metodoPago"></div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Paciente (emisor del pago)</label>
                                        <input class="form-control" type="text" th:value="${turno.paciente.nombre + ' ' + turno.paciente.apellido}" disabled>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="fechaPago">Fecha del pago *</label>
                                        <input class="form-control" type="datetime-local" name="fechaPago" id="fechaPago" th:value="${todayDateTime}" required>
                                        <div class="invalid-feedback" id="error-fechaPago"></div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="detalles">Detalles adicionales</label>
                                        <textarea class="form-control" name="detalles" id="detalles" placeholder="Entidad bancaria, número de transacción, etc..." rows="3"></textarea>
                                        <div class="invalid-feedback" id="error-detalles"></div>
                                    </div>

                                    <button type="submit" class="btn btn-primary w-100">Registrar pago</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- /modal -->
            </main>
        </div>

        <!-- Footer & scripts -->
        <footer th:replace="layout::footer"></footer>
        <script th:src="@{/js/entityForm.js}"></script>
        <script th:src="@{/js/print.js}"></script>
    </body>
</html>