<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout::head">

    </head>

    <body>
        <div class="d-flex flex-column flex-lg-row">
            <header th:replace="layout::header">
                
            </header>

            <main class="container-fluid p-4">
                <h2 class="text-center text-lg-start">Turnos</h2>

                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#entityModal" onclick="onNewEntity('Agendar turno')">
                    <i class="bi bi-calendar-plus"></i>
                    Agendar turno
                </button>

                <div class="my-4 bg-white border rounded-2 shadow-sm">
                    <div class="p-4 d-flex justify-content-between">
                        <div class="d-flex align-items-center gap-2">
                            <div>
                                <a th:href="@{/turnos/}" class="btn btn-outline-primary">Hoy</a>
                            </div>

                            <div>
                                <a th:href="@{/turnos/?from={date} (date = ${fromDate.minusDays(7)})}" class="fs-3 text-decoration-none"><i class="bi bi-caret-left-fill"></i></a>
                                <a th:href="@{/turnos/?from={date} (date = ${fromDate.plusDays(7)})}" class="fs-3 text-decoration-none"><i class="bi bi-caret-right-fill"></i></a>
                            </div>
                            
                            <div>
                                <div th:if="${todayDate == fromDate}">
                                    <p class="mb-0 fw-semibold text-primary text-uppercase">
                                        <span>Hoy</span>
                                        <span> - </span>
                                        <span th:text="${#temporals.format(toDate, 'dd MMMM')}"></span>
                                    </p>
                                </div>
                                <div th:unless="${todayDate == fromDate}">
                                    <p class="mb-0 fw-semibold text-primary text-uppercase ls-1">
                                        <span th:text="${#temporals.format(fromDate, 'd MMMM')}"></span>
                                        <span th:if="${#temporals.format(todayDate, 'yyyy') != #temporals.format(fromDate, 'yyyy')}" th:text="${#temporals.format(fromDate, 'yyyy')}"></span>
                                        <span> - </span>
                                        <span th:text="${#temporals.format(toDate, 'd MMMM')}"></span>                                        
                                        <span th:if="${#temporals.format(todayDate, 'yyyy') != #temporals.format(toDate, 'yyyy')}" th:text="${#temporals.format(toDate, 'yyyy')}"></span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div>
                            <a th:href="@{/turnos/historial}" class="btn btn-secondary">
                                <i class="bi bi-clock"></i> 
                                Historial de turnos
                            </a>
                        </div>
                    </div>

                    <table class="table border-top table-striped-columns caption-top">
                        <thead>
                            <tr>
                                <th class="vertical-align-middle text-center">
                                    <i class="bi bi-clock fs-4 text-secondary"></i>
                                </th>
                                <th th:each="dia: ${semana}" th:style="|width: calc(99% / ${semana.size()});|">
                                    <p th:text="${#temporals.format(dia, 'E')}" class="mb-0 text-center ls-1" th:classappend="${dia == todayDate ? 'text-primary' : 'fw-normal'}"></p>
                                    <p th:text="${#temporals.format(dia, 'd')}" class="mb-0 fs-2 text-center ls-4" th:classappend="${dia == todayDate ? 'text-primary' : 'fw-normal'}"></p>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="hora, iterHorarios: ${horarios}">
                                <td class="text-center text-muted ls-1" th:text="${#temporals.format(hora, 'HH:mm')}" style="vertical-align: middle;"></td>

                                <td th:each="dia: ${semana}" id="turnos-calendar-turno" th:turno-fecha="${dia}" th:turno-hora="${hora}">
                                    <div id="turnos-calendar-turno__addBtn" th:turno-fecha="${dia}" th:turno-hora="${hora}" data-bs-toggle="modal" data-bs-target="#entityModal" onclick="onNewDate(event)">
                                        <i class="bi bi-plus-lg fs-2 text-muted pointer-event-none"></i>
                                    </div>
                                    
                                    <th:block th:each="turno, iterTurnos: ${turnos}" th:if="${turno.fecha == dia}">
                                        <!-- Turnos en horarios anteriores al horario de apertura -->
                                        <th:block th:if="${iterHorarios.first && turno.hora <= hora}">
                                            <div class="my-1 p-2 rounded" th:classappend="${turno.completado == true ? 'text-bg-secondary' : 'text-bg-primary'}" id="turnos-calendar-turno__card" th:turno-id="${turno.id}" data-bs-toggle="modal" data-bs-target="#infoModal" onclick="onShowDateInfo(event)">
                                                <div class="pointer-event-none">
                                                    <p class="mb-0 fw-bold">
                                                        <!-- <i class="bi bi-person"></i> -->
                                                        <span th:text="${turno.paciente.nombre + ' ' + turno.paciente.apellido}"></span>
                                                    </p>
                                                    <p class="mb-0">
                                                        <!-- <i class="bi bi-clipboard-check"></i> -->
                                                        <span th:text="${turno.doctor.nombre + ' ' + turno.doctor.apellido}"></span>
                                                    </p>

                                                    <p th:if="${turno.hora != hora}" class="mb-0 fw-bold text-warning">
                                                        <!-- <i class="bi bi-clock"></i> -->
                                                        <span th:text="${turno.hora}"></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </th:block>

                                        <!-- Turnos en horarios posteriores al horario de cierre -->
                                        <th:block th:if="${iterHorarios.last && turno.hora >= hora}">
                                            <div class="my-1 p-2 rounded" th:classappend="${turno.completado == true ? 'text-bg-secondary' : 'text-bg-primary'}" id="turnos-calendar-turno__card" th:turno-id="${turno.id}" data-bs-toggle="modal" data-bs-target="#infoModal" onclick="onShowDateInfo(event)">
                                                <div class="pointer-event-none">
                                                    <p class="mb-0 fw-bold">
                                                        <!-- <i class="bi bi-person"></i> -->
                                                        <span th:text="${turno.paciente.nombre + ' ' + turno.paciente.apellido}"></span>
                                                    </p>
                                                    <p class="mb-0">
                                                        <!-- <i class="bi bi-clipboard-check"></i> -->
                                                        <span th:text="${turno.doctor.nombre + ' ' + turno.doctor.apellido}"></span>
                                                    </p>

                                                    <p th:if="${turno.hora != hora}" class="mb-0 fw-bold text-warning">
                                                        <!-- <i class="bi bi-clock"></i> -->
                                                        <span th:text="${turno.hora}"></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </th:block>

                                        <!-- Turnos en horarios entre el horario de apertura y cierre -->
                                        <th:block th:unless="${iterHorarios.first || iterHorarios.last}">
                                            <th:block th:if="${turno.hora >= hora && turno.hora < horarios[iterHorarios.index + 1]}">
                                                <div class="my-1 p-2 rounded" th:classappend="${turno.completado == true ? 'text-bg-secondary' : 'text-bg-primary'}" id="turnos-calendar-turno__card" th:turno-id="${turno.id}" data-bs-toggle="modal" data-bs-target="#infoModal" onclick="onShowDateInfo(event)">
                                                    <div class="pointer-event-none">
                                                        <p class="mb-0 fw-bold">
                                                            <!-- <i class="bi bi-person"></i> -->
                                                            <span th:text="${turno.paciente.nombre + ' ' + turno.paciente.apellido}"></span>
                                                        </p>
                                                        <p class="mb-0">
                                                            <!-- <i class="bi bi-clipboard-check"></i> -->
                                                            <span th:text="${turno.doctor.nombre + ' ' + turno.doctor.apellido}"></span>
                                                        </p>
    
                                                        <p th:if="${turno.hora != hora}" class="mb-0 fw-bold text-warning">
                                                            <!-- <i class="bi bi-clock"></i> -->
                                                            <span th:text="${turno.hora}"></span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </th:block>
                                        </th:block>
                                    </th:block>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Modal de informacion -->
                <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title fs-5" id="infoLabel">Información del turno</h2>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                <div class="mb-3 d-flex gap-2">
                                    <div class="w-100">
                                        <label class="form-label">Fecha</label>
                                        <input class="form-control" type="date" id="fecha" disabled>
                                    </div>
                                    <div class="w-100">
                                        <label class="form-label">Hora</label>
                                        <input class="form-control" type="time" id="hora" disabled>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Paciente</label>
                                    <input class="form-control" type="text" id="pacienteNombre" disabled>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Doctor</label>
                                    <input class="form-control" type="text" id="doctorNombre" disabled>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Tratamiento</label>
                                    <input class="form-control" type="text" id="tratamientoNombre" placeholder="(No especificado)" disabled>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Observaciones</label>
                                    <input class="form-control" type="text" id="observaciones" placeholder="(Sin observaciones)" disabled>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <div class="w-100 d-flex justify-content-between gap-2">
                                    <div>
                                        <a href="#" class="btn btn-success" id="pacienteTelefono" target="_blank"><i class="bi bi-whatsapp"></i> Enviar mensaje</a>
                                    </div>

                                    <div>
                                        <button type="button" class="btn btn-warning" title="Editar" entity-id="" data-bs-toggle="modal" data-bs-target="#entityModal" onclick="onEditEntity(event, '/turnos/get', 'Editar turno')">
                                            <i class="bi bi-pencil-square pointer-event-none"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger" title="Eliminar" entity-id="" id="deleteEntityBtn" entity-text="Eliminar turno" onclick="onDeleteEntity(event, '/turnos/delete', 'Turno')">
                                            <i class="bi bi-trash pointer-event-none"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Modal de entidad -->
                <div class="modal fade" id="entityModal" tabindex="-1" aria-labelledby="entityLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="entityLabel">Turnos</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body ui-front">
                                <form method="POST" id="entityForm" onsubmit="onFormSubmit(event, '/turnos/form', 'Turnos')">
                                    <input type="hidden" name="id">
                                    <input type="hidden" name="createdAt">
                        
                                    <div class="mb-3 d-flex" style="gap: .5rem;">
                                        <div class="w-100">
                                            <label class="form-label" for="fecha">Fecha *</label>
                                            <input class="form-control" type="date" name="fecha" id="fecha" required>
                                            <div class="invalid-feedback" id="error-fecha"></div>
                                        </div>
                                        <div class="w-100">
                                            <label class="form-label" for="hora">Hora *</label>
                                            <input class="form-control" type="time" name="hora" id="hora" required>
                                            <div class="invalid-feedback" id="error-hora"></div>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="pacienteNombre">Paciente *</label>
                                        <input class="form-control" type="text" name="pacienteNombre" id="pacienteNombre" required>
                                        <div class="invalid-feedback" id="error-paciente"></div>
                                        
                                        <input type="hidden" name="paciente" id="paciente">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="doctor">Doctor *</label>
                                        <select name="doctor" id="doctor" class="form-select" required>
                                            <option value="" disabled selected>-- Seleccionar doctor --</option>
                        
                                            <option
                                                th:each="doctor: ${doctores}"
                                                th:value="${doctor.id}"
                                                th:text="${doctor.nombre + ' ' + doctor.apellido}"
                                            >
                                            </option>
                                        </select>
                                        <div class="invalid-feedback" id="error-doctor"></div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="tratamiento">Tratamiento</label>
                                        <select name="tratamiento" id="tratamiento" class="form-select">
                                            <option value="0" selected>-- Seleccionar tratamiento --</option>
                        
                                            <option
                                                th:each="tratamiento: ${tratamientos}"
                                                th:value="${tratamiento.id}"
                                                th:text="${tratamiento.nombre}"
                                            >
                                            </option>
                                        </select>
                                        <div class="invalid-feedback" id="error-tratamiento"></div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="observaciones">Observaciones</label>
                                        <input class="form-control" type="text" name="observaciones" id="observaciones">
                                        <div class="invalid-feedback" id="error-observaciones"></div>
                                    </div>
                                
                                    <button type="submit" class="btn btn-primary w-100">Guardar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- /modal -->
            </main>
        </div>

        <!-- Footer & scripts -->
        <footer th:replace="layout::footer"></footer>
        <script th:src="@{/js/entityForm.js}"></script>
        <script th:src="@{/js/turnos.js}"></script>
    </body>
</html>