<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout::head">

    </head>

    <body>
        <div class="d-flex flex-column flex-lg-row">
            <header th:replace="layout::header">
                
            </header>
            
            <!-- Contenido -->
            <main class="container-fluid p-4">
                <h2 class="text-center text-lg-start">Turnos</h2>

                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#entityModal" onclick="onNewEntity('Turno')">
                    <i class="bi bi-calendar-plus"></i>
                    Agendar turno
                </button>

                <div class="my-4 p-4 bg-white border rounded-2 shadow-sm">
                    <p class="text-muted">Próximos turnos programados</p>

                    <!-- <div th:each="fecha: ${fechas}" class="mb-5"> -->
                    <div th:each="fecha, iter: ${fechas}" th:class="${iter.index != 0 ? 'my-5 pt-5 border-top' : ''}">
                        <h4 th:if="${#temporals.format(fecha, 'dd/MM/yyyy') == #temporals.format(todayDate, 'dd/MM/yyyy')}">
                            <span>Hoy</span>,
                            <span th:text="${#temporals.format(fecha, 'dd')}"></span> de
                            <span th:text="${#temporals.format(fecha, 'MMMM')}"></span>
                        </h4>
                        <h4 th:if="${#temporals.format(fecha, 'dd/MM/yyyy') == #temporals.format(tomorrowDate, 'dd/MM/yyyy')}" id="mañana">
                            <span>Mañana</span>,
                            <span th:text="${#temporals.format(fecha, 'dd')}"></span> de
                            <span th:text="${#temporals.format(fecha, 'MMMM')}"></span>
                        </h4>
                        <h4 th:unless="${#temporals.format(fecha, 'dd/MM/yyyy') == #temporals.format(todayDate, 'dd/MM/yyyy') || #temporals.format(fecha, 'dd/MM/yyyy') == #temporals.format(tomorrowDate, 'dd/MM/yyyy')}">
                            <span th:text="${#strings.capitalize(#temporals.format(fecha, 'EEEE'))}"></span>,
                            <span th:text="${#temporals.format(fecha, 'dd')}"></span> de
                            <span th:text="${#temporals.format(fecha, 'MMMM')}"></span>
                        </h4>

                        <div class="row row-cols-1 row-cols-xl-2 row-cols-xxl-3 g-4">
                            <div th:each="entity: ${turnos}" th:if="${fecha == entity.fecha}" class="col">
                                <div class="p-4 shadow border rounded">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h4 th:text="${#temporals.format(entity.hora, 'HH:mm')}" class="mb-0"></h4>
                                            
                                            <p class="mb-0">
                                                <i class="fs-5 text-primary bi bi-person"></i>
                                                <span th:text="${entity.paciente.nombre + ' ' + entity.paciente.apellido}"></span>
                                            </p>
    
                                            <p class="mb-0">
                                                <i class="fs-5 text-success bi bi-clipboard-check"></i>
                                                <span th:text="${entity.doctor.nombre + ' ' + entity.doctor.apellido}"></span>
                                            </p>

                                            <p class="mb-0" th:if="${entity.tratamiento != null}">
                                                <i class="fs-5 bi bi-card-checklist"></i>
                                                <span th:text="${entity.tratamiento.nombre}"></span>
                                            </p>

                                            <p class="mb-0" th:if="${!entity.observaciones.isEmpty()}">
                                                <i class="fs-5 bi bi-chat-dots"></i>
                                                <span th:text="${entity.observaciones}"></span>
                                            </p>
                                        </div>

                                        <div>
                                            <div class="btn-group dropstart">
                                                <i class="fs-5 bi bi-three-dots-vertical" data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;"></i>

                                                <ul class="dropdown-menu dropdown-menu-end">
                                                    <li><button class="dropdown-item" type="button" th:entity-id="${entity.id}" data-bs-toggle="modal" data-bs-target="#entityModal" onclick="onEditEntity(event, '/turnos/get', 'Turno')">Editar</button></li>
                                                    <li><button class="dropdown-item" type="button" th:entity-id="${entity.id}" id="deleteEntityBtn" entity-text="Eliminar turno" onclick="onDeleteEntity(event, '/turnos/delete', 'Turno')">Eliminar</button></li>
                                                    <li>
                                                        <button class="dropdown-item" type="button">
                                                            <i class="text-success bi bi-whatsapp"></i>
                                                            <a th:href="|https://wa.me/54${entity.paciente.telefono}|" class="text-dark text-decoration-none" target="_blank">Enviar mensaje</a>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <a th:href="@{/turnos/historial}" class="btn btn-outline-secondary">
                            <i class="bi bi-clock"></i> 
                            Ver historial de turnos
                        </a>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="entityModal" tabindex="-1" aria-labelledby="entityLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="entityLabel">Turnos</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body ui-front">
                                <form method="POST" id="entityForm" onsubmit="onFormSubmit(event, '/turnos/form', 'Turnos')">
                                    <input type="hidden" name="id">
                                    <input type="hidden" name="createdAt">
                        
                                    <div class="mb-3 d-flex" style="gap: .5rem;">
                                        <div class="w-100">
                                            <label class="form-label" for="fecha">Fecha *</label>
                                            <input class="form-control" type="date" name="fecha" id="fecha" required>
                                            <div class="invalid-feedback" id="error-fecha"></div>
                                        </div>
                                        <div class="w-100">
                                            <label class="form-label" for="hora">Hora *</label>
                                            <input class="form-control" type="time" name="hora" id="hora" required>
                                            <div class="invalid-feedback" id="error-hora"></div>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="pacienteNombre">Paciente *</label>
                                        <input class="form-control" type="text" name="pacienteNombre" id="pacienteNombre" required>
                                        <div class="invalid-feedback" id="error-paciente"></div>
                                        
                                        <input type="hidden" name="paciente" id="paciente">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="doctor">Doctor *</label>
                                        <select name="doctor" id="doctor" class="form-select" required>
                                            <option value="" disabled selected>-- Seleccionar doctor --</option>
                        
                                            <option
                                                th:each="doctor: ${doctores}"
                                                th:value="${doctor.id}"
                                                th:text="${doctor.nombre + ' ' + doctor.apellido}"
                                            >
                                            </option>
                                        </select>
                                        <div class="invalid-feedback" id="error-doctor"></div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="tratamiento">Tratamiento</label>
                                        <select name="tratamiento" id="tratamiento" class="form-select">
                                            <option value="0" selected>-- Seleccionar tratamiento --</option>
                        
                                            <option
                                                th:each="tratamiento: ${tratamientos}"
                                                th:value="${tratamiento.id}"
                                                th:text="${tratamiento.nombre}"
                                            >
                                            </option>
                                        </select>
                                        <div class="invalid-feedback" id="error-tratamiento"></div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="observaciones">Observaciones</label>
                                        <input class="form-control" type="text" name="observaciones" id="observaciones">
                                        <div class="invalid-feedback" id="error-observaciones"></div>
                                    </div>
                                
                                    <button type="submit" class="btn btn-primary w-100">Agendar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- /modal -->
            </main>
        </div>

        <!-- Footer & scripts -->
        <footer th:replace="layout::footer"></footer>
        <script th:src="@{/js/entityForm.js}"></script>

        <!-- Autcomplete -->
        <script>
            // Autocomplete
            $(document).ready(function()
            {
                $("input#pacienteNombre").autocomplete(
                {
                    source: function(req, res) // Función para obtener la lista de pacientes
                    {
                        $.ajax(
                        {
                            url: `/pacientes/findAll/${req.term}`, // Url donde hará la petición
                            data: {term: req.term},  // 'data' es el término que buscará el usuario (nombre, apellido, etc)
                            dataType: "json",
                            success: function(data) 
                            {
                                res($.map(data, function(item)
                                {
                                    return {
                                        label: `${item.nombre} ${item.apellido}`, // Lo que se mostrará en la lista
                                        value: item // La variable que enviará a "select" cuando se seleccione un item
                                    }
                                }));
                            }
                        });
                    },
                    select: function(event, ui) // Cuando el usuario selecciona un item
                    {
                        const paciente = ui.item.value;

                        event.preventDefault(); // Evita que autocomplete rellene el input
                        $("input#pacienteNombre").val(`${paciente.nombre} ${paciente.apellido}`); // Cambiamos el texto del input
                        $("input#paciente").val(paciente.id); // Asignamos la id del paciente seleccionado
                    }
                });
            });
        </script>
    </body>
</html>