@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap'); */
:root
{
    --bs-secondary-color: rgba(33, 37, 41, 0.75);
}


body
{
    background-color: #edf2f9;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

body.collapse-navbar .header-logo-container, body.collapse-navbar .navbar-link span {
    display: none;
}


/* Sidebar */
.header
{
    background-color: #0e2238;
}

#navbar
{
    transition: width .3s ease;
}
.navbar-toggler
{
    color: #9EA9B4;
    transition: all .3s ease;
}
.navbar-toggler:hover
{
    color: white;
}
.navbar-link
{   
    padding: 1rem 2rem;
    color: #9EA9B4;
    text-decoration: none;
    font-weight: 600;
    text-wrap: nowrap;
    transition: color .2s ease;
}
.navbar-link:hover
{
    color: white;
    background-color: #0460c4;
}
.navbar-link i
{
    text-align: center;
    width: 16px;
}
.navbar-link span
{
    padding-left: 1rem;
}


/* Turnos */
#turnos-calendar-turno {
    vertical-align: middle;
}

#turnos-calendar-turno__addBtn {
    display: none;
    opacity: 0;
    text-align: center;
    cursor: pointer;
    transition: all .2s ease;
}
#turnos-calendar-turno:not(:has(#turnos-calendar-turno__card)) #turnos-calendar-turno__addBtn {
    display: block;
}
#turnos-calendar-turno:not(:has(#turnos-calendar-turno__card)):hover #turnos-calendar-turno__addBtn {
    opacity: 100;
}

#turnos-calendar-turno__card
{
    cursor: pointer;
    transition: all .15s ease;
}
#turnos-calendar-turno__card:hover
{
    transform: scale(1.05);
}


/* Vista de imprimir */
/* main .print-card
{
    display: block !important;
}

@media print 
{
    @page
    {
        size: 10cm landscape;
    }
    body > div, footer, header, main, section
    {
        display: none;
    }
    body > .print-card
    {
        display: block !important;
    }
} */
@media print
{
    @page
    {
        size: landscape;
    }
}


/* Scrollbar */
*::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	background-color: #bbbbbb;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}


/* Custom bootstrap */
.bg-white
{
    background-color: white;
}
.text-bg-white
{
    background-color: white;
    color: black;
}

.text-decoration-dashed 
{
    text-decoration-line: underline;
    text-decoration-style: dashed;
}

.ls-1 { letter-spacing: 1px; }
.ls-2 { letter-spacing: 2px; }
.ls-3 { letter-spacing: 4px; }
.ls-4 { letter-spacing: 6px; }
.ls-5 { letter-spacing: 10px; }

.pointer-event-none {pointer-events: none;}
.cursor-pointer { cursor: pointer; }

.vertical-align-middle {vertical-align: middle;}


/* Fixes */
button i {
    pointer-events: none;
}