<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout::head">

    </head>

    <body class="bg-transparent p-2">
        <form th:action="@{/doctores/form}" th:object="${doctor}" method="POST" novalidate>
            <input type="hidden" th:field="*{id}">

            <div class="mb-3 d-flex" style="gap: .5rem;">
                <div class="w-100">
                    <label class="form-label" for="nombre">Nombre *</label>
                    <input class="form-control" th:errorclass="is-invalid" type="text" th:field="*{nombre}" id="nombre" autocomplete="off" required>
                    <div th:errors="*{nombre}" class="invalid-feedback" id="nombre"></div>
                </div>
                <div class="w-100">
                    <label class="form-label" for="apellido">Apellido *</label>
                    <input class="form-control" th:errorclass="is-invalid" type="text" th:field="*{apellido}" id="apellido" required>
                    <div th:errors="*{apellido}" class="invalid-feedback" id="apellido"></div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="telefono">Teléfono *</label>
                <input class="form-control" th:errorclass="is-invalid" type="tel" th:field="*{telefono}" id="telefono" required>
                <div th:errors="*{telefono}" class="invalid-feedback" id="telefono"></div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="direccion">Dirección</label>
                <input class="form-control" th:errorclass="is-invalid" type="text" th:field="*{direccion}" id="direccion">
                <div th:errors="*{direccion}" class="invalid-feedback" id="direccion"></div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="especialidad">Especialidad</label>
                <input class="form-control" th:errorclass="is-invalid" type="text" th:field="*{especialidad}" id="especialidad">
                <div th:errors="*{especialidad}" class="invalid-feedback" id="especialidad"></div>
            </div>
        
            <button type="submit" class="btn btn-success w-100">Guardar</button>
        </form>

        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
        <script>
            // Verificar si debe cerrarse el modal (donde está el iframe)
            const urlParams = new URLSearchParams(window.location.search); // Obtenemos los parametros de la url
            if(urlParams.has("close")) // Verificamos si el parametro "close" esta presente
            {
                window.parent.postMessage("closeModal", "*"); // Enviar un mensaje a la ventana padre diciendo que debe cerrarse el modal
            }
        </script>
    </body>
</html>