<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout::head">

    </head>

    <body>
        <script th:if="${param.close}">
            // Cuando se crea un nuevo doctor, se redirige a esta misma pagina (/doctores/home) 
            // Pero con el parametro "close=true"
            // Este parámetro indica que esta esta ventana es una ventana emergente y por lo tanto debe cerrarase
            window.close();
        </script>

        <div class="d-flex flex-column flex-lg-row">
            <header th:replace="layout::header">
                
            </header>
            
            <!-- Contenido -->
            <main class="container-fluid p-4">
                <h2 class="text-center text-lg-start">Doctores</h2>
                <button type="button" class="btn btn-success" id="addDoctorBtn">
                    <i class="bi bi-person-fill-add"></i>
                    Añadir doctor
                </button>

                <div class="my-4 p-4 bg-white border rounded-2 shadow-sm">
                    <p class="text-muted">Lista de doctores</p>

                    <table class="table table-bordered table-striped table-hover">
                        <thead class="text-bg-success bg-gradient">
                            <tr>
                                <th>Nombre completo</th>
                                <th>Teléfono</th>
                                <th>Dirección</th>
                                <th>Especialidad</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="doctor: ${doctores}">
                                <td th:text="${doctor.nombre + ' ' + doctor.apellido}"></td>
                                <td th:text="${doctor.telefono}"></td>
                                <td th:text="${doctor.direccion}"></td>
                                <td th:text="${doctor.especialidad}"></td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="editDoctorBtn" th:doctor-id="${doctor.id}"><i class="bi bi-pencil-square" style="pointer-events: none;"></i></button>
                                    <button type="button" class="btn btn-danger" id="deleteDoctorBtn" th:doctor-id="${doctor.id}"><i class="bi bi-trash" style="pointer-events: none;"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>

        <!-- Footer & scripts -->
        <footer th:replace="layout::footer"></footer>
        <script th:src="@{/js/doctores.js}"></script>
    </body>
</html>