<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout::head">

    </head>

    <body>
        <div class="d-flex flex-column flex-lg-row">
            <header th:replace="layout::header">
                
            </header>
            
            <!-- Contenido -->
            <main class="container-fluid p-4">
                <h2 class="text-center text-lg-start">Pacientes</h2>

                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addPatientModal">
                    <i class="bi bi-person-fill-add"></i>
                    Añadir paciente
                </button>

                <div class="my-4 p-4 bg-white border rounded-2 shadow-sm">
                    <p class="text-muted">Lista de pacientes</p>

                    <table class="table table-bordered table-striped table-hover">
                        <thead class="text-bg-success bg-gradient">
                            <tr>
                                <th>Nombre completo</th>
                                <th>Teléfono</th>
                                <th>Dirección</th>
                                <th>Historial médico</th>
                                <th>Alergias</th>
                                <th>Fecha de naciemiento (edad)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="paciente: ${pacientes}">
                                <td th:text="${paciente.nombre + ' ' + paciente.apellido}"></td>
                                <td th:text="${paciente.telefono}"></td>
                                <td th:text="${paciente.direccion}"></td>
                                <td th:text="${paciente.historialMedico}"></td>
                                <td th:text="${paciente.alergias}"></td>
                                <td>
                                    <span th:text="${#dates.format(paciente.fechaNacimiento, 'dd/MM/yyyy')}"></span>
                                    (<span th:text="${T(java.time.Period).between(T(java.time.LocalDate).parse(paciente.fechaNacimiento.toString()), T(java.time.LocalDate).now()).getYears()}"></span>)
                                </td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="editPatientBtn" th:patient-id="${paciente.id}"><i class="bi bi-pencil-square" style="pointer-events: none;"></i></button>
                                    <button type="button" class="btn btn-danger" id="deletePatientBtn" th:patient-id="${paciente.id}"><i class="bi bi-trash" style="pointer-events: none;"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="addPatientModal" tabindex="-1" aria-labelledby="addDateLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="addDateLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                <iframe 
                                    th:src="@{/pacientes/nuevo}"
                                    title="Agendar cita"
                                    width="100%"
                                    id="mi-iframe"
                                    >
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <!-- Footer & scripts -->
        <footer th:replace="layout::footer"></footer>
        
        <script>
            // Escuchar cuando el iframe envie un postMessage para cerrar el modal y recargar la página
            window.addEventListener("message", event => 
            {
                if(event.data === "closeModal")
                {
                    window.location.reload(); // Recargar la página
                }
            });

            // Script para que el iframe tenga la misma altura que el contenido de la vista que renderiza
            $('#addPatientModal').on('shown.bs.modal', function () // Se llama cuando se abre el modal
            {
                const frame = document.querySelector("#mi-iframe");
                const height = frame.contentWindow.document.body.scrollHeight;
                frame.style.height = height + 'px';
            })
        </script>
    </body>
</html>